body {
    font-family: "Lora", serif;
    text-align: left;
    margin: auto;
    width: 50%;
}

header {
    line-height: 1;
    margin: 50px 0;
}

 div p {
    line-height: 2;
    margin-bottom: 30px;
 }

 footer {
    line-height: 1.5;
    margin-top: 50px;
 }